/* body {
  background-color: rgba(249, 249, 249, 100);
} */

.container {
  width: 500px;
}

.bg-white {
  background-color: white;
}

input {
  margin-bottom: 1rem;
}

.text-green {
  color: rgb(55, 210, 67);
}

.hover:hover {
  outline: 1px solid rgb(55, 210, 67);
  color: rgb(55, 210, 67);
}
.color:hover {
  color: rgb(55, 210, 67);
}
