<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Admin">

    
 <insert id="insertUserDataForAdmin" parameterType="Map">
    INSERT INTO USERS (USER_UID, NAME, PASSWORD, E_MAIL, BIRTH_DATE, POSTALCODE, ADDRESS, DETAILADDRESS,
			EXTRAADDRESS, JOINDATE, PHONE, MARKETING_RECEIVE_ACCEPTION, GRADE_UID, AUTH_UID) 
VALUE ( #{USER_UID}, #{NAME}, #{PASSWORD}, #{E_MAIL}, #{BIRTH_DATE}, #{POSTALCODE}, #{ADDRESS}, #{DETAILADDRESS}, 
 #{EXTRAADDRESS}, sysdate(), CONCAT (#{phoneFirst},#{phoneSecond},#{phoneThird}), 'N', #{GRADE_UID}, 'AUTH_U');

 </insert>

</mapper>
