<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Admin">

    
 <insert id="insertUserDataForAdmin" parameterType="Map">
    INSERT INTO USERS (USER_UID, NAME, PASSWORD, E_MAIL, BIRTH_DATE, POSTALCODE, ADDRESS, DETAILADDRESS,
			EXTRAADDRESS, JOINDATE, PHONE, MARKETING_RECEIVE_ACCEPTION, GRADE_UID, AUTH_UID) 
VALUE ( #{USER_UID}, #{NAME}, #{PASSWORD}, #{E_MAIL}, #{BIRTH_DATE}, #{POSTALCODE}, #{ADDRESS}, #{DETAILADDRESS}, 
 #{EXTRAADDRESS}, sysdate(), CONCAT (#{phoneFirst},#{phoneSecond},#{phoneThird}), 'N', #{GRADE_UID}, 'AUTH_U');
</insert>

<update id="updateUserDataForAdmin" parameterType="Map">
      UPDATE USERS
      SET NAME = #{NAME}, PASSWORD = #{PASSWORD}, E_MAIL = #{E_MAIL}, BIRTH_DATE = #{BIRTH_DATE},
		POSTALCODE = #{POSTALCODE}, ADDRESS = #{ADDRESS}, DETAILADDRESS = #{DETAILADDRESS}, EXTRAADDRESS = #{EXTRAADDRESS},
        PHONE = #{PHONE}, GRADE_UID = #{GRADE_UID}
      WHERE USER_UID = #{USER_UID};
</update>

<delete id="deleteUserDataForAdmin" parameterType="Map">
      DELETE FROM USERS
      WHERE USER_UID = #{USER_UID};
</delete>

<select id="selectUserInfo" parameterType="Map" resultType="Map">
      SELECT USERS.NAME, USERS.USER_UID, USERS.PASSWORD, USERS.JOINDATE, USERS.BIRTH_DATE, USERS.PHONE, USERS.E_MAIL, USERS.POSTALCODE, USERS.ADDRESS,
		USERS.DETAILADDRESS, USERS.EXTRAADDRESS, USER_GRADES.GRADE
      FROM USER_GRADES INNER JOIN USERS
      ON USERS.GRADE_UID = USER_GRADES.GRADE_UID
      WHERE USER_UID = #{USER_UID};
</select> 

<select id="selectUserList" parameterType="Map" resultType="Map">
      SELECT USERS.NAME, USERS.USER_UID, USERS.JOINDATE, USERS.BIRTH_DATE, USERS.PHONE, USERS.E_MAIL, USERS.ADDRESS,
		USERS.DETAILADDRESS, USERS.EXTRAADDRESS, USER_GRADES.GRADE
      FROM USER_GRADES INNER JOIN USERS
      ON USERS.GRADE_UID = USER_GRADES.GRADE_UID;
</select> 

<select id="selectUsersPaginations" parameterType="Map" resultType="Map">
      SELECT *
      FROM USERS
      ORDER BY JOINDATE
      LIMIT 0, 10;
</select> 

<select id="selectUsersCount" parameterType="Map" resultType="Map">
      SELECT COUNT(*) AS TOTAL_USER
      FROM USERS;
</select> 


<select id="selectBoardList" parameterType="Map" resultType="Map">
      SELECT COMMON_BOARD.TITLE, COMMON_BOARD.DATE_CREATED, MAIN_BOARD.BOARD_TYPE_DESCRIPTION
      FROM MAIN_BOARD INNER JOIN COMMON_BOARD
      ON MAIN_BOARD.BOARD_UID = COMMON_BOARD.BOARD_UID
      ORDER BY COMMON_BOARD.DATE_CREATED;
</select> 

<select id="selectBoardPaginations" parameterType="Map" resultType="Map">
      SELECT *
      FROM COMMON_BOARD
      ORDER BY DATE_CREATED
      LIMIT 0, 10;
</select> 

<select id="selectBoardCount" parameterType="Map" resultType="Map">
      SELECT COUNT(*) AS TOTAL_BOARD
      FROM COMMON_BOARD;
</select> 

 <insert id="insertBoardForAdmin" parameterType="Map">
      INSERT INTO COMMON_BOARD (COMMONBOARD_UID, TITLE, CONTENT, DATE_CREATED, WRITER, VIEWS, USER_UID,
		BOARD_UID, FAQ_TYPE_UID)
      VALUES (#{COMMONBOARD_UID}, #{TITLE}, #{CONTENT}, SYSDATE(), '관리자', 0, 'admin1',
		#{BOARD_UID}, #{FAQ_TYPE_UID});
</insert>

 <insert id="insertBoardEventDate" parameterType="Map">
      INSERT INTO EVENT_DATE_BOARD (EVENT_DATE_UID, EVENT_START_DATE, EVENT_END_DATE, COMMONBOARD_UID)
      VALUES ('EVENT_D1', '2023-02-22', '2023-02-28', 'BOARD23');
</insert>

<select id="selectInquirysCount" parameterType="Map" resultType="int">
     SELECT COUNT(*) AS TOTAL_INQUIRYS
      FROM INQUIRYS
</select> 

<select id="selectInquirysListByUID" parameterType="Map" resultType="Map">         
  
            SELECT INQUIRYS.INQUIRY_UID, INQUIRY_TITLE, INQUIRY_DATE, INQUIRY_CONTENT, INQUIRY_ANSWER, TRACKING_NUMBER_FOR_INQUIRY,
            INQUIRYS.USER_UID, INQUIRYS.INQUIRY_TYPE_UID, INQUIRY_TYPE_DESCRIPTION, PROGRESS_STATUS_UID, USERS.NAME, USERS.E_MAIL
            FROM INQUIRYS
            INNER JOIN INQUIRY_TYPES
            ON INQUIRYS.INQUIRY_TYPE_UID = INQUIRY_TYPES.INQUIRY_TYPE_UID
            INNER JOIN USERS
            ON INQUIRYS.USER_UID = USERS.USER_UID
               <if test="pageScale != null">
            ORDER BY INQUIRY_DATE DESC
            LIMIT #{pageBegin}, #{pageScale}
            </if>

    </select>

<update id="updateInquiryAnswer" parameterType="Map">
     UPDATE INQUIRYS SET INQUIRY_ANSWER = #{INQUIRY_ANSWER}, PROGRESS_STATUS_UID = 'INQ_PROG_STAT_DONE' WHERE INQUIRY_UID = #{INQUIRY_UID};

</update>

<select id="selectBoardByUid" parameterType="Map" resultType="int">
     
     
</select> 

<update id="updateBoards" parameterType="Map">
     UPDATE INQUIRYS SET INQUIRY_ANSWER = #{INQUIRY_ANSWER}, PROGRESS_STATUS_UID = 'INQ_PROG_STAT_DONE' WHERE INQUIRY_UID = #{INQUIRY_UID};

</update>

</mapper>
