<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Common">

    <select id="selectUserUIDByNameAndPhone" parameterType="Map" resultType="Map">
      SELECT USER_UID
        FROM USERS
        WHERE NAME = #{NAME} AND PHONE = #{PHONE}
    </select>

    <select id="selectUserDataForJoinStep4" parameterType="Map" resultType="Map">
      SELECT BIRTH_DATE, NAME, PHONE, ADDRESS, DETAILADDRESS, EXTRAADDRESS, E_MAIL, USER_UID, PASSWORD, MARKETING_RECEIVE_ACCEPTION
      FROM USERS
      WHERE USER_UID = #{USER_UID} ;
    </select>

    <select id="selectUsersDataByIdAndPhone" parameterType="Map" resultType="Map">
     SELECT * from USERS WHERE USER_UID = #{USER_UID} AND PHONE = #{PHONE} ;
    </select>


<insert id="insertUserDataForJoin" parameterType="Map">
    INSERT INTO USERS (USER_UID, NAME, PASSWORD, E_MAIL, BIRTH_DATE, POSTALCODE, ADDRESS, DETAILADDRESS,
			EXTRAADDRESS, JOINDATE, PHONE, MARKETING_RECEIVE_ACCEPTION, GRADE_UID, AUTH_UID) 
VALUE ( #{USER_UID}, #{Name}, #{PASSWORD}, #{E_MAIL}, #{BIRTH_DATE}, #{POSTALCODE}, #{ADDRESS}, #{DETAILADDRESS}, 
 #{EXTRAADDRESS}, sysdate(), CONCAT (#{phoneFirst},#{phoneSecond},#{phoneThird}),     
    <choose>
    <when test="#{MARKETING_RECEIVE_ACCEPTION} == 'on'">
    'Y', 
    </when>
    <otherwise>
    'N',
    </otherwise>
    </choose>
     'GRADE_F', 'AUTH_U');

 </insert>


<update id="updateUsersPassword" parameterType="Map" >
      
UPDATE USERS SET PASSWORD = #{PASSWORD} WHERE NAME = #{NAME}  AND PHONE = #{PHONE};
</update>


<select id="selectUsersUIDForDuplicateCheck" parameterType="Map" resultType="Map">
      SELECT USER_UID
      FROM USERS
      WHERE USER_UID =  #{rawID}
    </select>

</mapper>
