<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cs">
    <!--call Cs.selectNoticeListByBoardType  -->
    <select id="selectNoticeListByBoardType" parameterType="Map" resultType="Map">
        SELECT COMMONBOARD_UID,TITLE, DATE_CREATED
        FROM COMMON_BOARD INNER JOIN MAIN_BOARD
        ON COMMON_BOARD.BOARD_UID = MAIN_BOARD.BOARD_UID
        WHERE MAIN_BOARD.BOARD_TYPE = 'NOTICE'
        ORDER BY DATE_CREATED DESC;
         <if test = "pageScale != null">
         LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <select id="selectTotal" parameterType="Map" resultType="int">
        SELECT COUNT(*) AS TOTAL_NOTICE
        FROM COMMON_BOARD INNER JOIN MAIN_BOARD
        ON COMMON_BOARD.BOARD_UID = MAIN_BOARD.BOARD_UID
        WHERE MAIN_BOARD.BOARD_TYPE = 'NOTICE';
    </select>

</mapper>