<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Customer">

<!-- 공지사항 고정이라 하드코딩으로 고정. -->
<select id="selectFAQLists" parameterType="Map" resultType="Map">
    SELECT FAQ_TYPE.FAQ_TYPE_DESCRIPTION, COMMON_BOARD.TITLE, COMMON_BOARD.CONTENT, COMMON_BOARD.REPLY_FOR_FAQ
    FROM COMMON_BOARD
    INNER JOIN FAQ_TYPE
    ON COMMON_BOARD.FAQ_TYPE_UID = FAQ_TYPE.FAQ_TYPE_UID
    AND FAQ_TYPE.BOARD_UID = 'BOARD_FAQ'
    INNER JOIN MAIN_BOARD
    ON MAIN_BOARD.BOARD_UID = COMMON_BOARD.BOARD_UID
    ORDER BY DATE_CREATED DESC
    ;
    </select>

<select id="selectFAQFAQListByUid" parameterType="Map" resultType="Map">
    SELECT * 
    FROM COMMON_BOARD
    INNER JOIN FAQ_TYPE
    ON COMMON_BOARD.FAQ_TYPE_UID = FAQ_TYPE.FAQ_TYPE_UID
    AND FAQ_TYPE.FAQ_TYPE_UID = #{faq_type_uid}
    INNER JOIN MAIN_BOARD
    ON MAIN_BOARD.BOARD_UID = COMMON_BOARD.BOARD_UID
    ORDER BY DATE_CREATED DESC
    ;
    </select>

<select id="selectFAQListPaginations" parameterType="Map" resultType="Map">
      SELECT *
      FROM COMMON_BOARD
	    WHERE BOARD_UID = 'BOARD_FAQ'
      ORDER BY DATE_CREATED DESC
      LIMIT 0, 10;
</select> 

<select id="selectFAQTypeListPaginations" parameterType="Map" resultType="Map">
    SELECT *
    FROM COMMON_BOARD
	WHERE FAQ_TYPE_UID = #{faq_type_uid}
    ORDER BY DATE_CREATED DESC
    LIMIT 0, 10;
</select>

    <insert id="insertInquiry" parameterType="Map">
		INSERT INTO INQUIRYS
        (INQUIRY_UID,INQUIRY_TITLE,INQUIRY_DATE,INQUIRY_CONTENT,INQUIRY_ANSWER,
        TRACKING_NUMBER_FOR_INQUIRY,USER_UID,INQUIRY_TYPE_UID,PROGRESS_STATUS_UID)
        VALUES
        (#{INQUIRY_UID}, #{INQUIRY_TITLE}, sysdate(), #{INQUIRY_CONTENT}, null, #{TRACKING_NUMBER_FOR_INQUIRY}, 
        #{USER_UID}, #{INQUIRY_TYPE_UID}, #{PROGRESS_STATUS_UID}
        
        )
	</insert>

<select id="selectInquiryByUid" parameterType="Map" resultType="Map">
      SELECT INQUIRYS.INQUIRY_UID, INQUIRYS.INQUIRY_TITLE, INQUIRYS.INQUIRY_DATE, INQUIRY_TYPES.INQUIRY_TYPE_DESCRIPTION,
		PROGRESS_STATUS_TYPE.PROGRESS_STATUS_DESCRIPTION
        FROM PROGRESS_STATUS_TYPE INNER JOIN INQUIRYS
        ON PROGRESS_STATUS_TYPE.PROGRESS_STATUS_UID = INQUIRYS.PROGRESS_STATUS_UID
        INNER JOIN INQUIRY_TYPES
        ON INQUIRYS.INQUIRY_TYPE_UID = INQUIRY_TYPES.INQUIRY_TYPE_UID
        INNER JOIN USERS
        ON INQUIRYS.USER_UID = USERS.USER_UID
        WHERE USERS.USER_UID = #{USER_UID};
</select> 

<select id="selectInquiryViewByUid" parameterType="Map" resultType="Map">
     SELECT INQUIRYS.INQUIRY_TITLE, INQUIRYS.INQUIRY_DATE, INQUIRYS.INQUIRY_CONTENT, 
     INQUIRY_TYPES.INQUIRY_TYPE_DESCRIPTION, INQUIRYS.INQUIRY_ANSWER
        FROM INQUIRY_TYPES INNER JOIN INQUIRYS
        ON INQUIRY_TYPES.INQUIRY_TYPE_UID = INQUIRYS.INQUIRY_TYPE_UID
        WHERE INQUIRY_UID = #{INQUIRY_UID};
</select> 

</mapper>