<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Delivery">

<select id="selectListForTrackShipInquiry" parameterType="Map" resultType="Map">
      SELECT SHIPMENT.TRACKING_NUMBER, SHIPMENT.RESERVATION_DATE, SHIPMENT.RECIPIENT_NAME,
		  ITEM_TYPES.ITEM_TYPE_DESCRIPTION, SHIPMENT.SENDER_NAME, PROGRESS_STATUS_TYPE.PROGRESS_STATUS_DESCRIPTION,
      PROGRESS_STATUS_TYPE.PROGRESS_STATUS_TIME
      FROM PROGRESS_STATUS_TYPE INNER JOIN SHIPMENT
      ON PROGRESS_STATUS_TYPE.TRACKING_NUMBER = SHIPMENT.TRACKING_NUMBER
      INNER JOIN ITEM_TYPES
      ON SHIPMENT.ITEM_TYPE_UID = ITEM_TYPES.ITEM_TYPE_UID
      WHERE SHIPMENT.TRACKING_NUMBER =  #{TRACKING_NUMBER}
      ORDER BY PROGRESS_STATUS_TIME ASC
    </select>

    <select id="selectOneForTrackShipInquiry" parameterType="Map" resultType="Map">
      SELECT SHIPMENT.TRACKING_NUMBER, PROGRESS_STATUS_TYPE.PROGRESS_STATUS_TIME,PROGRESS_STATUS_TYPE.PROGRESS_STATUS_DESCRIPTION,
      SHIPMENT.RESERVATION_DATE, SHIPMENT.RECIPIENT_NAME, ITEM_TYPES.ITEM_TYPE_DESCRIPTION, SHIPMENT.SENDER_NAME       
      FROM SHIPMENT INNER JOIN PROGRESS_STATUS_TYPE
      ON SHIPMENT.TRACKING_NUMBER = PROGRESS_STATUS_TYPE.TRACKING_NUMBER
      INNER JOIN ITEM_TYPES
      ON SHIPMENT.ITEM_TYPE_UID = ITEM_TYPES.ITEM_TYPE_UID
      WHERE SHIPMENT.TRACKING_NUMBER = #{TRACKING_NUMBER}
      ORDER BY PROGRESS_STATUS_TIME DESC
      LIMIT 1

    </select>

    <select id="selectTrackingNumForTrackinNumInquiry" parameterType="Map" resultType="Map">
      SELECT TRACKING_NUMBER
      FROM SHIPMENT
      WHERE SENDER_PHONE = #{SENDER_PHONE} AND SHIPMENT_PASSWORD = #{SHIPMENT_PASSWORD}
    </select>

</mapper>