<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Delivery">

<select id="selectForTrackShipInquiry" parameterType="Map" resultType="Map">
      SELECT SHIPMENT.TRACKING_NUMBER, SHIPMENT.RESERVATION_DATE, SHIPMENT.RECIPIENT_NAME,
		  ITEM_TYPES.ITEM_TYPE_DESCRIPTION, SHIPMENT.SENDER_NAME, PROGRESS_STATUS_TYPE.PROGRESS_STATUS_DESCRIPTION,
      PROGRESS_STATUS_TYPE.PROGRESS_STATUS_TIME
      FROM PROGRESS_STATUS_TYPE INNER JOIN SHIPMENT
      ON PROGRESS_STATUS_TYPE.TRACKING_NUMBER = SHIPMENT.TRACKING_NUMBER
      INNER JOIN ITEM_TYPES
      ON SHIPMENT.ITEM_TYPE_UID = ITEM_TYPES.ITEM_TYPE_UID
      WHERE SHIPMENT.TRACKING_NUMBER =  #{TRACKING_NUMBER}
    </select>

    
</mapper>