<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Home">

    <!--call Home.insertShipment  -->
    <insert id="insertShipment" parameterType="Map">
		INSERT INTO SHIPMENT (TRACKING_NUMBER, NUMBER_OF_ITEMS, SENDER_NAME, SENDER_PHONE, DEPARTURE_POSTALCODE,
		DEPARTURE_ADDRESS, DEPARTURE_DETAILADDRESS, DEPARTURE_EXTRAADDRESS, RECIPIENT_NAME, RECIPIENT_PHONE,
        DESTINATION_POSTALCODE, DESTINATION_ADDRESS, DESTINATION_DETAILADDRESS, DESTINATION_EXTRAADDRESS,
        TOTAL_PRICE, ITEM_PRICE, SHIPMENT_PASSWORD, VISITING_DATE, RESERVATION_DATE,
        SHIPMENT_TYPE_UID, REQUEST_UID, ITEM_TYPE_UID)
        VALUES (#{TRACKING_NUMBER}, #{NUMBER_OF_ITEMS}, #{SENDER_NAME}, #{SENDER_PHONE}, #{DEPARTURE_POSTALCODE},
        #{DEPARTURE_ADDRESS}, #{DEPARTURE_DETAILADDRESS}, #{DEPARTURE_EXTRAADDRESS}, #{RECIPIENT_NAME},#{RECIPIENT_PHONE},
        #{DESTINATION_POSTALCODE}, #{DESTINATION_ADDRESS}, #{DESTINATION_DETAILADDRESS}, #{DESTINATION_EXTRAADDRESS},
        #{TOTAL_PRICE}, #{ITEM_PRICE}, #{SHIPMENT_PASSWORD}, #{VISITING_DATE}, SYSDATE(),
        #{SHIPMENT_TYPE_UID}, #{REQUEST_UID}, #{ITEM_TYPE_UID})
	</insert>

    <!--call Home.insertProGressStatusTypeByTrackingNumber  -->
    <insert id="insertProGressStatusTypeByTrackingNumber" parameterType="Map">
        <!-- 최초 입력 PROGRESS_STATUS_TYPE, PROGRESS_STATUS_DESCRIPTION, PROGRESS_STATUS_TIME 고정 -->
        INSERT INTO PROGRESS_STATUS_TYPE
        (PROGRESS_STATUS_UID, PROGRESS_STATUS_TYPE, PROGRESS_STATUS_DESCRIPTION, PROGRESS_STATUS_TIME, TRACKING_NUMBER)
        VALUES
        (#{PROGRESS_STATUS_UID},'REGISTER','접수완료',sysdate(),#{TRACKING_NUMBER});
    </insert>

    <!--call Home.insertPointByUser_UID  -->
    <insert id="insertPointByUser_UID" parameterType="Map">
        <!-- 최초 입력 PROGRESS_STATUS_TYPE, PROGRESS_STATUS_DESCRIPTION, PROGRESS_STATUS_TIME 고정 -->
        INSERT INTO POINT
        (POINT_UID, POINT_CHANGE_VALUE, POINT_CHANGE_DATE, USER_UID)
        VALUES
        (#{POINT_UID},-#{usePoint},sysdate(),#{USER_UID})
    </insert>

    <!--call Home.insertMypageByUser_UID  -->
    <insert id="insertMypageByUser_UID" parameterType="Map">
        <!-- 최초 입력 PROGRESS_STATUS_TYPE, PROGRESS_STATUS_DESCRIPTION, PROGRESS_STATUS_TIME 고정 -->
        INSERT INTO MYPAGE
        (MYPAGE_UID, TRACKING_NUMBER, USER_UID, INQUIRY_UID)
        VALUES
        (#{MYPAGE_UID}, #{TRACKING_NUMBER}, #{USER_UID}, null);
    </insert>

    
</mapper>