<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mypage">

      <select id="selectUserInfo" parameterType="Map" resultType="Map">
            SELECT USERS.NAME, USER_GRADES.GRADE, SUM(POINT.POINT_CHANGE_VALUE) AS POINT
            FROM USER_GRADES INNER JOIN USERS
            ON USER_GRADES.GRADE_UID = USERS.GRADE_UID
            INNER JOIN MYPAGE
            ON USERS.USER_UID = MYPAGE.USER_UID
            INNER JOIN POINT
            ON USERS.USER_UID = POINT.USER_UID
            WHERE USERS.USER_UID =  
            #{USER_UID};
      </select> 

      <select id="selectShipment" parameterType="Map" resultType="Map">
                  SELECT SHIPMENT.RESERVATION_DATE, SHIPMENT.RECIPIENT_PHONE, SHIPMENT.RECIPIENT_NAME,
                        SHIPMENT.DESTINATION_ADDRESS, SHIPMENT.DESTINATION_DETAILADDRESS,
                        SHIPMENT_TYPES.SHIPMENT_TYPE_DESCRIPTION, MYPAGE.USER_UID
                  FROM MYPAGE INNER JOIN SHIPMENT
                  ON MYPAGE.TRACKING_NUMBER = SHIPMENT.TRACKING_NUMBER
                  INNER JOIN SHIPMENT_TYPES
                  ON SHIPMENT.SHIPMENT_TYPE_UID = SHIPMENT_TYPES.SHIPMENT_TYPE_UID
                  WHERE MYPAGE.USER_UID = #{USER_UID};
      </select> 

      <select id="selectUserInquiryCount" parameterType="Map" resultType="Map">
            SELECT COUNT(*) AS TOTAL_USER_INQUIRYS
            FROM INQUIRYS
            WHERE USER_UID = #{USER_UID}; 
      </select> 

      <select id="selectUserPointBreakdown" parameterType="Map" resultType="Map">
            SELECT POINT_CHANGE_VALUE, POINT_CHANGE_DATE
            FROM POINT
            WHERE USER_UID = 'user2'
            ORDER BY POINT_CHANGE_DATE DESC;
      </select> 

      <select id="selectUserTotalPoint" parameterType="Map" resultType="Map">
            SELECT SUM(POINT_CHANGE_VALUE) AS TOTAL_POINT
            FROM POINT
            WHERE USER_UID = 'user1';
      </select> 

      <select id="selectUserInfoForMyinfo" parameterType="Map" resultType="Map">
            SELECT USER_UID, NAME, BIRTH_DATE, PASSWORD, PHONE, POSTALCODE, ADDRESS, DETAILADDRESS, EXTRAADDRESS
            FROM USERS
            WHERE USER_UID = #{USER_UID} ;
      </select> 

      <select id="updateUserInfo" parameterType="Map" resultType="Map">
            UPDATE USERS
            SET PASSWORD = #{PASSWORD}, PHONE = #{PHONE}, POSTALCODE = #{POSTALCODE}, ADDRESS = #{ADDRESS},
                  DETAILADDRESS = #{DETAILADDRESS}, EXTRAADDRESS = #{EXTRAADDRESS}
            WHERE USER_UID = #{USER_UID};
      </select> 


    
 <insert id="insertUserDataForAdmin" parameterType="Map">
    INSERT INTO USERS (USER_UID, NAME, PASSWORD, E_MAIL, BIRTH_DATE, POSTALCODE, ADDRESS, DETAILADDRESS,
			EXTRAADDRESS, JOINDATE, PHONE, MARKETING_RECEIVE_ACCEPTION, GRADE_UID, AUTH_UID) 
VALUE ( #{USER_UID}, #{NAME}, #{PASSWORD}, #{E_MAIL}, #{BIRTH_DATE}, #{POSTALCODE}, #{ADDRESS}, #{DETAILADDRESS}, 
 #{EXTRAADDRESS}, sysdate(), CONCAT (#{phoneFirst},#{phoneSecond},#{phoneThird}), 'N', #{GRADE_UID}, 'AUTH_U');
 </insert>

  <update id="updateUserDataForAdmin" parameterType="Map">
      UPDATE USERS
      SET NAME = #{NAME}, PASSWORD = #{PASSWORD}, E_MAIL = #{E_MAIL}, BIRTH_DATE = #{BIRTH_DATE},
		POSTALCODE = #{POSTALCODE}, ADDRESS = #{ADDRESS}, DETAILADDRESS = #{DETAILADDRESS}, EXTRAADDRESS = #{EXTRAADDRESS},
        PHONE = #{PHONE}, GRADE_UID = #{GRADE_UID}
      WHERE USER_UID = #{USER_UID};
</update>

<select id="selectUserList" parameterType="Map" resultType="Map">
      SELECT USERS.NAME, USERS.USER_UID, USERS.JOINDATE, USERS.BIRTH_DATE, USERS.PHONE, USERS.E_MAIL, USERS.ADDRESS,
		USERS.DETAILADDRESS, USERS.EXTRAADDRESS, USER_GRADES.GRADE
      FROM USER_GRADES INNER JOIN USERS
      ON USERS.GRADE_UID = USER_GRADES.GRADE_UID;
</select> 

<select id="selectUsersPaginations" parameterType="Map" resultType="Map">
      SELECT *
      FROM USERS
      ORDER BY JOINDATE
      LIMIT 0, 10;
</select> 

<select id="selectUsersCount" parameterType="Map" resultType="Map">
      SELECT COUNT(*) AS TOTAL_USER
      FROM USERS;
</select> 


</mapper>
